* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 100%;
}

header {
    background-color: #445162;
    padding: 50px;
    box-sizing: border-box;
}

header:after {
  content: '';
  clear: both;
  display: block;
}

h1 {
    line-height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    float: left;
}

.header-list {
    list-style: url(../images/check_icon.png) inside;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 51px;
    float: left;
}

.header-img {
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    float: right;
    object-fit: cover;
    background-position: center;
}

article {    
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.about-product h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.about-product p {
    max-width: 653px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.first-paragraph {    
    margin-top: 30px;
}

.second-paragraph {    
    margin-top: 20px;
}

.about-img {
    width: 430px;
    height: 245px;
    background: url(../images/mounain_lake_house.jpg) center;
    background-size: cover;
}

.dignity-and-pluses {
    height: 100%;
    background-color: #f5f5f5;
    padding: 50px 0;
    box-sizing: border-box;
}

.dignity-and-pluses h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 29px;
}

.pluses {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.plus-marker {
    width: 32px;
    height: 32px;
    background-color: #445161;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.plus-desc {
    max-width: 527px;
    margin-left: 41px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.plus {
    margin-top: 35px;
    margin-right: 29px;
}

.plus:nth-child(-n+2) {
    margin-top: 0;
}

.screenshots {
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

.screenshots h3 {
    margin-bottom: 30px;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.screenshots-content {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.screen {
    margin-top: 30px;
}

.screen:nth-child(-n+2) {
    margin-top: 0;
}

.screen:nth-child(odd) {
    margin-right: 16px;
}

.screen-picture {
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
}

.screen-picture img{
    display: block;
    width: 100%;
    height: 100%;
}

.screen-desc {
    margin-left: 215px;
    max-width: 359px;
}

.screen-desc h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.screen-desc p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.reviews {
    height: 100%;
    background-color: #f5f5f5;
    padding: 50px 0;
    box-sizing: border-box;
}

.reviews h3{
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align-last: center;
}

.reviews-content {
    margin: 35px 0 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.review {
    margin-top: 24px;
}

.review:nth-child(-n+2) {
    margin-top: 0;
}

.review:nth-child(odd) {
    margin-right: 32px;
}

.review-picture {
    width: 75px;
    height: 75px;
    background-color: #445161;
    border-radius: 75px;
    float: left;
}

.review-picture img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 75px;
}

.review-desc {
    position: relative;
    background: #ebebeb;
    border-radius: 5px;
    margin-left: 91px;
    padding: 16px 20px 16px 27px;
    color: #333333;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    box-sizing: border-box;
    max-width: 483px;
}

.review-desc::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -10px;
    top: 27px;
    background: #ebebeb;
    transform: rotate(45deg);
}

.reviewer-name {
    margin-top: 15px;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
}

.buy-it-now {
    height: 100%;
    padding: 50px 145px;
    box-sizing: border-box;
}

.buy-it-now h3 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.options {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;       
}

.option-unit {
    width: 300px;
    background-color: #445161;
    padding-top: 16px;
    box-sizing: border-box;
    border-radius: 5px;
}

.option-head {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 17px;
}

.option-price {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    height: 71px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #445162;
}

.option-list {
    list-style-position: inside;
    margin-left: 20px;
    margin-top: 19px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.option-buy {
    color: #445161;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    width: 260px;
    height: 40px;
    margin: 19px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.option-buy:hover {
    cursor: pointer;
    background-color: #ccc;
}

.contacts {
    background-color: #445162;
    padding: 50px 246px 50px 249px;
    box-sizing: border-box;
}

.contacts h3{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    font-style: normal;
}

.contacts-content {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}

.contacts-form {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-name,
.form-email,
.form-messege {
    width: 500px;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 21px;
}

.form-name:invalid,
.form-email:invalid {
    background-color: #FB3F51;
}

.form-messege {
    height: 170px;
    padding-top: 13px;
    font-family: 'Arial', sans-serif;
}

.form-submit,
.form-reset {
    color: #445162;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

.buttons {
    width: 70%;
}
.form-submit {
    float: left;
}

.form-reset {
    float: right;
}

.social-list {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

.social-icon {
    float: left;
    margin-right: 5px;
}

.social {
    margin-bottom: 20px;
}

.another {
    margin-top: 12px;
}

.form-submit:hover {
    cursor: pointer;
    background-color: #ccc;
}

.form-reset:hover {
    cursor: pointer;
    background-color: #FB3F51;
}

.form-name:focus,
.form-email:focus,
.form-messege:focus {
    background-color: #ccc;
    color: #fff;
    font-style: italic;
}

.clr {
    height: 26px;
}

.footer {
    min-height: 26px;
    background-color: #f5f5f5;
    max-width: 1280px;
    margin: -26px auto 0;
}

.footer p {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    padding-top: 7px;
}

@media screen and (max-width:1040px){    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    
    .header-img {
        width: 100%;
        margin-top: 50px;
    }
    
    article {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    h1,
    .about-product h3{
        text-align: center;
    }
    
    .about-img {
        margin-top: 50px;
    }   
    
}

@media screen and (max-width:590px){
    .header-img {
        width: 300px;
        margin-top: 25px;
    }
    
    h1 {
    font-size: 40px;
    }
    
    .header-list {
        margin-top: 25px;
    }
}

@media screen and (max-width:1260px){
    .plus {
        max-width: 45%;
        margin-right: 3%;
    }
}

@media screen and (max-width:750px){
    .plus {
        max-width: 100%;
    }
    
    .plus:nth-child(2) {
    margin-top: 35px;
    }
    
    .pluses {
        margin: 0 20px;
        justify-content: center;
    }
}

@media screen and (max-width:1260px){
    .screen {
        max-width: 45%;
        margin-right: 3%;
    }
}

@media screen and (max-width:1000px){
    .screen {
        max-width: 100%;
    }
    
    .screen:nth-child(2) {
    margin-top: 30px;
    }
    
    .screenshots-content {
        margin: 0 20px;
        justify-content: center;
    }
}

@media screen and (max-width:500px){
    .screen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .screen-desc {
        margin: 20px 0 0 0 ;
        text-align: center;
    }
    
    .screen {
        margin: 0 20px 20px;
    }
}

@media screen and (max-width:1250px){
    .review {
        max-width: 45%;
        margin-right: 3%;
    }
}

@media screen and (max-width:900px){
    .review:nth-child(n+1) {
        max-width: 100%;
        margin-right: 0;
    }
    
    .review:nth-child(2) {
        margin-top: 24px;
    }
    
    .reviews-content {
        margin: 0 20px;
        justify-content: center;
    }
}

@media screen and (max-width:500px){
    .review {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .review-desc {
        margin: 20px 0 0;
    }
    
    .review-desc::before {
        top: -10px;
        left: 47%;
    }
}

@media screen and (max-width:1210px){
    .buy-it-now {
        padding: 50px;
    }
}

@media screen and (max-width:1020px){    
    .options {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .option-unit {
        margin-bottom: 30px;
    }
    
    .option-unit:first-child {
        margin-right: 30px;
    }
} 

@media screen and (max-width:747px){
    .option-unit:first-child {
        margin-right: 0;
    }
    
    .options {
        flex-direction: column;
        align-items: center;
    }
    
    .buy-it-now {
        padding: 50px 0;
    }
} 

@media screen and (max-width:1265px) {
    .contacts {
        padding:50px;
    }
}

@media screen and (max-width:870px) {
    .contacts-content {
        flex-direction: column;
        align-items: center;
    }
    
    .contacts-form {
        margin-bottom: 30px;
    }
    
    .social {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:570px) {    
    .form-name,
    .form-email,
    .form-messege,
    .buttons{
    width: 350px;
    }
}

@media screen and (max-width:400px) {    
    .form-name,
    .form-email,
    .form-messege,
    .buttons{
    width: 300px;
    }
    
    .social {
        justify-content:flex-start;
    }
}